In [158]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [159]:
heart = pd.read_csv('/heart failur classification dataset.csv',index_col=0)
heart.head(3)

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...       No   4.0            1
1  55.0        0                      7861  ...       No   6.0            1
2  65.0        0                       146  ...      Yes   7.0            1

[3 rows x 13 columns]

In [160]:
heart.shape

(299, 13)

In [161]:
heart.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                6
sex                         0
smoking                     0
time                        7
DEATH_EVENT                 0
dtype: int64

In [162]:
heart = heart.dropna(axis = 0, subset = ['serum_sodium'])

print("Shape after removing null values: ", heart.shape)

Shape after removing null values:  (293, 13)

In [163]:
print("Death_EVENT:\n", heart['DEATH_EVENT'])

Death_EVENT:
 1      1
2      1
3      1
4      1
5      1
      ..
293    0
294    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 293, dtype: int64

In [164]:
heart = heart.drop(['time'], axis = 1)

heart.shape

(293, 12)

In [165]:
heart['sex']=heart['sex'].map({'Male':1,'Female':0})

In [166]:
heart['smoking']=heart['smoking'].map({'No':0,'Yes':1})

In [152]:
print(type(heart))

<class 'pandas.core.frame.DataFrame'>

In [174]:
heart_data=heart.drop(['DEATH_EVENT'], axis=1)
print(heart_data)

      age  anaemia  creatinine_phosphokinase  ...  serum_sodium  sex  smoking
1    55.0        0                      7861  ...         136.0    1        0
2    65.0        0                       146  ...         129.0    1        1
3    50.0        1                       111  ...         137.0    1        0
4    65.0        1                       160  ...         116.0    0        0
5    90.0        1                        47  ...         132.0    1        1
..    ...      ...                       ...  ...           ...  ...      ...
293  63.0        1                       103  ...         136.0    1        1
294  62.0        0                        61  ...         143.0    1        1
296  45.0        0                      2060  ...         138.0    0        0
297  45.0        0                      2413  ...         140.0    1        1
298  50.0        0                       196  ...         136.0    1        1

[293 rows x 11 columns]

In [176]:
from sklearn.model_selection import train_test_split
y = pd.DataFrame(heart['DEATH_EVENT'])
X_train, X_test, y_train, y_test = train_test_split(heart_data, heart['DEATH_EVENT'], test_size = 0.25, random_state=0, stratify = y)

In [177]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)

X_train shape: (219, 11)
y_train shape: (219,)

In [178]:
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_test shape: (74, 11)
y_test shape: (74,)

In [179]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [180]:
X_train_scaled = scaler.transform(X_train)

In [157]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
scaler = MinMaxScaler()

scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)

X_test_scaled = scaler.transform(X_test)

#train
knn.fit(X_train_scaled, y_train)

# scoring on the scaled test set
print("Scaled test set accuracy: {:.2f}".format(
    knn.score(X_test_scaled, y_test)))

Scaled test set accuracy: 1.00